.signup-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.signup-body h1{
    font-size: 45px;
    padding: 20px;
}

.signup-body input{
    width: 350px;
    height: 30px;
    margin-bottom: 20px;
}

::placeholder{
    font-size: larger;
}

.signup-body button{
    width: 150px;
    height: 30px;
    font-size: 20px;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
}

.mm{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

